.nav-pills {
    display: flex;
    justify-content: center;
}

.nav-pills .nav-link.active {
    background-color: rgba(255, 255, 255, 1) !important;
}

.Oceania {
    text-align: center;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
}

.nav-pills .nav-link.active .Oceania {
    text-align: left;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../../assets/img/oceania.svg);
    background-size: auto;
    background-position: right;
    background-repeat: no-repeat;
}

.Asia {
    text-align: center;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
}

.nav-pills .nav-link.active .Asia {
    text-align: left;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../../assets/img/asia.svg);
    background-size: auto;
    background-position: right;
    background-repeat: no-repeat;
}

.Africa {
    text-align: center;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
}

.nav-pills .nav-link.active .Africa {
    text-align: left;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../../assets/img/africa.svg);
    background-size: auto;
    background-position: right;
    background-repeat: no-repeat;
}

.North-America,
.South-America {
    text-align: center;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
}

.nav-pills .nav-link.active .North-America,
.nav-pills .nav-link.active .South-America {
    text-align: left;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../../assets/img/america.svg);
    background-size: auto;
    background-position: right;
    background-repeat: no-repeat;
}

.Europe {
    text-align: center;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
}

.nav-pills .nav-link.active .Europe {
    text-align: left;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../../assets/img/europe.svg);
    background-size: auto;
    background-position: right;
    background-repeat: no-repeat;
}

hr.dashed {
    border-top: 3px dashed #bbb;
}

.hidden-input {
    display: none;
}
