<!-- <div  style="background-color: #F0F7FD;"> -->

<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Covid statistics</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item active">
                        <button class="btn btn-dark">Log out <span class="sr-only">(current)</span></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="background-color-dashboard">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../../../assets/img/coronavirus.svg" width="250" class="animation-logo text-center"
                        alt="logo">
                </div>
            </div>
        </div>

    </div>

    <div class="container mt-n5">
        <div class="row">
            <div class="col-xl-4 col-sm-6 col-12 mb-4">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row text-center">
                            <div class="col-12 mb-3">
                                <img src="../../../assets/img/total.svg" width="70" alt="total">
                            </div>
                            <div class="col-12">
                                <h3>{{totalCases | number}}</h3>
                                <p class="mb-0 h5 text-success">Total cases</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-12 mb-4">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row text-center">
                            <div class="col-12 mb-3">
                                <img src="../../../assets/img/recovery.svg" width="70" alt="total">
                            </div>
                            <div class="col-12">
                                <h3>{{totalTests | number}}</h3>
                                <p class="mb-0 h5 text-primary">Tests</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-12 mb-4">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row text-center">
                            <div class="col-12 mb-3">
                                <img src="../../../assets/img/death.svg" width="70" alt="total">
                            </div>
                            <div class="col-12">
                                <h3>{{totalDeaths | number}}</h3>
                                <p class="mb-0 h5 text-danger">Deaths</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 mb-4">
                <div class="card shadow">
                    <div class="card-body">

                        <div style="display: block;">
                            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                                [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                            </canvas>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="container-fluid px-5 mb-5">
        <div class="row">
            <div class="col-12 mb-4 text-center">

                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

                    <li class="nav-item" *ngFor="let continent of continents; let i = index;">
                        <a [ngClass]="i === 0 ? 'nav-link active' : 'nav-link'" id="pills-continents-tab"
                            data-toggle="pill" href="#pills-continents" role="tab" aria-controls="pills-continents"
                            aria-selected="true" (click)="getStatisticsByContinent(continent)">
                            <div class="card shadow {{continent}}">
                                <div class="card-body">
                                    <h3>{{continent}}</h3>
                                    <h5>Total cases: 154,197.355</h5>
                                    <h5>Tests: 98,197.355</h5>
                                    <h5>Deaths: 1,197.355</h5>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>

                <div class="tab-content mt-5" id="pills-tabContent">

                    <div class="tab-pane fade show active" id="pills-continents" role="tabpanel"
                        aria-labelledby="pills-continents-tab">
                        <div class="card shadow">
                            <div class="card-body">

                                <div class="px-5">

                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                        class="row-border hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Country</th>
                                                <th>Population</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let statistic of statisticsArray; let i = index">
                                                <td>{{i+1}}</td>
                                                <td>{{statistic.country}}</td>
                                                <td>{{statistic.population | number}}</td>
                                                <td>
                                                    <button class="btn btn-info mr-3"
                                                        (click)="openInfo(mymodal, statistic)">Details</button>

                                                    <button class="btn btn-primary"
                                                        (click)="open(mymodal, statistic)">Update</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>

<button class="float" (click)="synchronize()">
    <img src="../../../assets/img/refresh.svg" width="30" alt="refresh icon">
</button>

<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-edit-statistics">{{singleCountry.country}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">

        <form [formGroup]="formGroupNewCases" (ngSubmit)="updateNewCases()">

            <div class="row">
                <div class="col-12">
                    <h4 class="text-center">New cases</h4>
                    <div class="form-group hidden-input">
                        <label for="idNewCases">Id</label>
                        <input type="text" class="form-control" id="idNewCases" placeholder="Id"
                            value="{{singleCountry._id}}" formControlName="idNewCases">
                    </div>
                    <div class="form-group">
                        <label for="newCases">New cases</label>
                        <input type="text" class="form-control" id="newCases" placeholder="Enter new cases"
                            formControlName="newCases">
                    </div>
                    <div class="form-group">
                        <label for="activeNewCases">Actives</label>
                        <input type="text" class="form-control" id="activeNewCases" placeholder="Enter actives"
                            value="{{singleCountry.cases.active}}" formControlName="activeNewCases">
                    </div>
                    <div class="form-group">
                        <label for="recoveredNewCases">Recovered</label>
                        <input type="text" class="form-control" id="recoveredNewCases" placeholder="Enter recovered"
                            value="{{singleCountry.cases.recovered}}" formControlName="recoveredNewCases">
                    </div>
                    <div class="form-group">
                        <label for="criticalNewCases">Critical</label>
                        <input type="text" class="form-control" id="criticalNewCases" placeholder="Enter critical"
                            value="{{singleCountry.cases.critical}}" formControlName="criticalNewCases">
                    </div>
                </div>

                <div [ngClass]="modalInfo === true ? 'hidden-input' : ''" class="col-12">
                    <button type="submit" class="btn btn-block btn-primary mt-2">Update</button>
                </div>
            </div>
        </form>

        <form [formGroup]="formGroupTests" (ngSubmit)="updateTests()">
            <div class="row">
                <div class="col-12">
                    <hr class="dashed">
                    <h4 class="text-center">New tests</h4>
                    <div class="form-group hidden-input">
                        <label for="idCountryTestInfo">Id</label>
                        <input type="text" class="form-control" id="idCountryTestInfo" placeholder="Id"
                            formControlName="idCountryTestInfo">
                    </div>
                    <div class="form-group">
                        <label for="newTests">Tests</label>
                        <input type="text" class="form-control" id="newTests" placeholder="Enter tests"
                            formControlName="newTests">
                    </div>
                </div>

                <div [ngClass]="modalInfo === true ? 'hidden-input' : ''" class="col-12">
                    <button type="submit" class="btn btn-block btn-primary mt-2">Update</button>
                </div>
            </div>
        </form>

        <form [formGroup]="formGroupDeaths" (ngSubmit)="updateDeaths()">
            <div class="row">
                <div class="col-12">
                    <hr class="dashed">
                    <h4 class="text-center">New deaths</h4>
                    <div class="form-group hidden-input">
                        <label for="idCountryDeathInfo">Id</label>
                        <input type="text" class="form-control" id="idCountryDeathInfo" placeholder="Id"
                            formControlName="idCountryDeathInfo">
                    </div>
                    <div class="form-group">
                        <label for="newDeaths">Deaths</label>
                        <input type="text" class="form-control" id="newDeaths" placeholder="Enter deaths"
                            formControlName="newDeaths">
                    </div>
                </div>

                <div [ngClass]="modalInfo === true ? 'hidden-input' : ''" class="col-12">
                    <button type="submit" class="btn btn-block btn-primary mt-2">Update</button>
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>