<div class="d-lg-flex half">
    <div class="bg order-2 order-md-1 d-none d-lg-block d-xl-block background-register" data-aos="fade-right">
    </div>
    <div class="contents order-1 order-md-2">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-9 col-md-10 col-lg-10 col-xl-8">

                    <div class="text-center" data-aos="fade-up">
                        <img src="../../../../assets/img/coronavirus.svg" width="100" class="animation-logo mb-n4"
                            alt="logo">
                        <h1 class="mb-3"><strong>Covid statistics</strong></h1>

                        <h3 class="text-center">Sign up</h3>
                        <p class="mb-4">Please, fill up the form below</p>
                        <form class="mt-4" action="#">

                            <div class="form-group first">
                                <label for="names" class="text-left">Full name</label>
                                <input type="text" class="form-control" placeholder="John Doe Machoraton" id="names">
                            </div>

                            <div class="form-group">
                                <label for="email-register" class="text-left">Email</label>
                                <input type="text" class="form-control" placeholder="your-email@gmail.com"
                                    id="email-register">
                            </div>

                            <div class="form-group">
                                <label for="password-register" class="text-left">Password</label>
                                <input type="password" class="form-control" placeholder="Your Password"
                                    id="password-register">
                            </div>

                            <div class="form-group last mb-3">
                                <label for="confirmPassword-register" class="text-left">Confirm password</label>
                                <input type="password" class="form-control" placeholder="Confirm password"
                                    id="confirmPassword-register">
                            </div>
                            <input type="submit" value="Sign up" class="btn btn-block btn-primary mt-3">
                        </form>
                        <div class="mt-3 text-center">
                            <span class="new-account-label">Already have an account? <a href="#">Sign in</a></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>