<div class="d-lg-flex half">
    <div class="bg order-1 order-md-2 d-none d-lg-block d-xl-block background" data-aos="fade-right">
    </div>
    <div class="contents order-2 order-md-1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-9 col-md-10 col-lg-10 col-xl-8">

                    <div class="text-center" data-aos="fade-up">
                        <img src="../../../../assets/img/coronavirus.svg" width="100" class="animation-logo mb-n4"
                            alt="logo">
                        <h1 class="mb-5"><strong>Covid statistics</strong></h1>

                        <h3 class="text-center">Login</h3>
                        <p class="mb-4">Welcome back! Please login to your account.</p>

                        <form class="mt-4" [formGroup]="formGroup" (ngSubmit)="login()">
                            <div class="form-group first">
                                <label for="username" class="text-left">Username</label>
                                <input type="text" class="form-control" placeholder="username" formControlName="userName"
                                    id="username">
                            </div>
                            <div class="form-group last mb-3">
                                <label for="password" class="text-left">Password</label>
                                <input type="password" class="form-control" placeholder="Your Password" formControlName="password" id="password">
                            </div>
                            <button type="submit" class="btn btn-block btn-primary mt-5">Log In</button>
                        </form>



                        <div class="mt-5 text-center">
                            <span class="new-account-label">Don't you have an account yet? <a routerLink="/register">create an
                                    account</a></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>